* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
header{
    position: fixed;
    top: 0%;
    left: 0%;
    padding: 20px 10px;
    width: 100%;
    z-index: 1;
    
    justify-content: space-evenly;
    align-items: center;
    transition: 0.5s;
    
}
body {
    
    
    font-size: 16px;*
    color: rgba(0, 0, 0, 0.87);
    font-family: "Montserrat" ,sans serif;
    line-height: 1.8;
    margin: 0;
}
.topbar .logo {
    float :left ;
}
.topbar {
    color: beige;
    font-style: italic;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: white;
    padding: 15px ;
}
.topbar nav {
    float: right;
}
.topbar a {
    color: #000000;
    text-decoration: none;
    font-weight: 700;
    margin-left: 30px;
    margin: 0 10px;

}
.topbar a.reserv {
    padding: 10px 20px;
    background-color: #7bd82a;
    margin-top: -10px;
    text-transform: uppercase;

}
.topbar a.reserv:hover {
    background:#5bae11 ;
    transition: ease-out;
    
    
}
.topbar nav a:hover{
    color: #7bd82a;
    border-bottom: 2px solid #7bd82a;
}
.topbae nav a:hover {
    color: #000;
}




.imagetenn {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./img/dd.jpg);
    background-size: cover;
}
.imagetenn .contenu{
    max-width:70% ;
    text-align: center;
}
.imagetenn .contenu h2{
    color: rgb(240, 103, 176);
    font-size: 3em;
    text-transform: capitalize;
    letter-spacing: 4px;
}
.contenu p:nth-child(2){
    color: rgb(0, 0, 0);
    font-size: 1.2em;
    letter-spacing: 4px;
}
section {
    padding:100px ;

}
.row{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.row .col50{
    position: relative;
    width: 48%;
    justify-content: center;
    align-items: center;
}
.row .col50 h2{
    margin-bottom: 20px;
}
.row .col50 h4{
    background-color: #5bae11;
}
.titre-texte {
    color: #000;
    font-size: 2em;
    font-weight: 300px;
    text-transform: capitalize;
}
.titre-texte span {
    color: #7bd82a;
    font-size: 1.5em;
    font-weight: 700px;
}
.row .col50{
    height: 450px;
    width: 600px;
    position: relative;
}

.titre {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.deuxieme {
    
    background-size: cover;
    text-align: center;
    padding-top: 100px;
    margin: auto;
}


.deuxieme .contenu .box .inbox{
    
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: center;
    background-color: #1651a9;
    text-align: center;
    padding: 0;
}

.deuxieme .contenu .box .inbox h3{
    text-align: center;
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

.deuxieme .contenu .box .inbox p{
    text-align: center;
    padding: 0;
}





.dou1{
    
    background-size: auto;
    text-align: center;
    padding-top: 100px;
    margin: auto;
    background-color: #b1c4e1;
    padding: 50;
}
.dou2{
    
    background-size: auto;
    text-align: center;
    padding-top: 100px;
    margin: auto;
    background-color: #94b1de;
}
.dou3{
    
    background-size: auto;
    text-align: center;
    padding-top: 100px;
    margin: auto;
    background-color: #b1c4e1;
}


.dou1 .titre-texte h2{
    
    color: #680e0e;
}
.dou1 .contenu .box .inbox{
    
    border-radius: 50px;
    margin-bottom: 5%;
    text-align: center;
    
}
.dou1 .contenu .box .inbox .img{
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    justify-content: center;
    align-items: center;
}

.dou1 .row .facilities-col p{
    text-align: center;
    padding: 0;
}
.dou1 .contenu .box .inbox h4 h2{
    text-align: center;
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
    background-color: #b1c4e1;
}

.dou2 .titre-texte h2{
    
    color: #680e0e;
}
.dou2 .contenu .box .inbox{
    
    border-radius: 50px;
    margin-bottom: 5%;
    text-align: center;
    
}
.dou2 .contenu .box .inbox .img{
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    justify-content: center;
    align-items: center;
}

.dou2 .row .facilities-col p{
    text-align: center;
    padding: 0;
}
.dou2 .contenu .box .inbox h4 h2{
    text-align: center;
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
    background-color: #b1c4e1;
}

.dou3 .titre-texte h2{
    
    color: #680e0e;
}
.dou3 .contenu .box .inbox{
    
    border-radius: 50px;
    margin-bottom: 5%;
    text-align: center;
    
}
.dou3 .contenu .box .inbox .img{
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    justify-content: center;
    align-items: center;
}

.dou3 .row .facilities-col p{
    text-align: center;
    padding: 0;
}
.dou3 .contenu .box .inbox h4 h2{
    text-align: center;
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
    background-color: #b1c4e1;
}




.quat .row .facilities-col p{
    text-align: center;
    padding: 0;
}
.dou .contenu .box .inbox h4 h2{
    text-align: center;
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
    background-color: #b1c4e1;
}









.troi .contenu{
    display: flex;
    justify-content: space-between;
    margin-top: 5% ;
}
.troi .contenu .box{
    flex-basis: 48%;
   
    margin-bottom: 5%;
    border-radius: 10px;
    box-sizing: border-box;
    background: #fff3f3;
    padding: 20px 12px;
}


.troi .contenu .box h2{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.troi .contenu .box:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}


.titre {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    

}

.quat {
    background-image:url(./img/groupe.jpg) ;
    background-size: cover;
    text-align: center;
    padding-top: 100px;
    margin: auto;
}
.quat .titre h2{
    
    color: #ffffff;
}
.quat .row .facilities-col{
    
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: center;
    background-color: #1651a9;
}
.quat .row .facilities-col p{
    text-align: center;
    padding: 0;
}
.quat .row .facilities-col h3{
    text-align: center;
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

.quat .row .facilities-col2{
    
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: center;
    background-color: #dd7676;
}
.quat .row .facilities-col2 p{
    text-align: center;
    padding: 0;
}
.quat .row .facilities-col2 h3{
    text-align: center;
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

.quat .row .facilities-col3{
    
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: center;
    background-color: #1651a9;
}
.quat .row .facilities-col3 p{
    text-align: center;
    padding: 0;
}
.quat .row .facilities-col3 h3{
    text-align: center;
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

.btn1{
    padding: 10px 20px;
    background-color: #7685d3;
    margin-top: -10px;
    text-transform: uppercase;
    color: #fff;


    
}
.btn1:hover {
    background:#115aae ;
    transition: ease-out;
    
    
}
.btn2{
    padding: 10px 20px;
    background-color: #eb7168;
    margin-top: -10px;
    text-transform: uppercase;
    color: #fff;


    f
}
.btn2:hover {
    background:#8d4742; ;
    transition: ease-out;
    
    
}
.btn3{
    padding: 10px 20px;
    background-color: #7685d3;
    margin-top: -10px;
    text-transform: uppercase;
    color: #fff;



    
}
.btn3:hover {
    background:#115aae ;
    transition: ease-out;
    
    
}
.teach .col50{
    position: relative;
    width: 48%;
    justify-content: center;
    align-items: center;
}
.teach .col50 h2{
    margin-bottom: 20px;
    color: #4b87f7;
}
.titre-texte {
    color: #000;
    font-size: 2em;
    font-weight: 300px;
    text-transform: capitalize;
}
.titre-texte span {
    color: #7bd82a;
    font-size: 1.5em;
    font-weight: 700px;
}
.teach .col50{
    height: 450px;
    width: 600px;
    position: relative;
}










footer{
    width:100%;
    position: absolute;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(th.jpg) no-repeat;
    background-size: #fff;
    padding: 100px 0 30px;
    font-size: 10px;
    line-height: 20px;
    
}
.hello{
    width: 85%;
    margin: auto;
    align-items: flex-start;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;

}

.hello .card h3 {
    width: fit-content;
    margin-bottom: 40px;
    color: rgb(109, 174, 235);
    position: relative;
    font-size: 10px;
    border-bottom: 2px solid rgb(109, 174, 235);
    padding: 5px;
}
.hello .card p{
    color: #787878;
    
}
